# Archivos pesados que no quiero en GitHub

# VIDEOS
*.mp4
*.mov
*.avi
*.wav 

#IMAGENES 
*.jpg
*.jpeg
*.JPG
*.JPEG
*.png
*.PNG
*.tif
*.tiff
*.bmp
*.gif
*.psd
*.ai
*.sketch
*.raw
*.cr2
*.nef
*.arw
*.webp
*.avif
*.svg
*.svgz

#AUDIOS
*.wav
*.aiff
*.aif
*.flac
*.alac
*.ape
*.mp3
*.ogg
*.aac
*.m4a

